[user]
	name = Sebastian Pantin Liljevall
	email = sebastian.p.liljevall@captario.com
[pull]
	rebase = false
	
[alias]
	default = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
	co = checkout
	cm = !git add -A && git commit -m
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	save = !git add -A && git commit -m 'SAVEPOINT'
  wip = !git add -u && git commit -m "WIP"
  pb = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
  pf = !git push -f
	bclean = "!f() { DEFAULT=$(git default); git branch --format '%(refname:short) %(upstream)' | awk '{if ($2) print $1;}' | grep -v "${1-$DEFAULT}$" | xargs git branch -d -f; }; f"
  bdone = "!f() { DEFAULT=$(git default); git checkout ${1-$DEFAULT} && git up && git bclean ${1-$DEFAULT}; }; f"
[core]
	editor = nvim
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
	credentialStore = secretservice
	helper = /usr/local/share/gcm-core/git-credential-manager-core
	helper = 
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
